#main {min-height: 500px;}

#logo:hover {cursor:pointer;}

.tbborder { border-bottom: 3px solid black; border-top: 3px solid black;}

.thbg {background: #dff0d8}
tr {border-bottom: 1px solid silver }
