<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
    <select id="selectsql" statementType="PREPARED" resultType="honeybee.spring4mvc.semiprojectv4.model.Board">
        select bno,title,userid,regdate,thumbs,views from board1 order by bno desc limit #{stbno},25
       # select count(bno) bds , ceil(count(bno)/25) pages from board1;
       # select * from board1 order by bno desc limit 0,25; #페이지 시작하는 지점
       # select * from board1 order by bno desc limit 25,25; #페이지 마지막 지점
    </select>

    <select id="countBoard" statementType="PREPARED" resultType="int">
        select ceil(count(bno)/25) cnt from board1
    </select>

    <!--동적질의문으로 검색기능 구현 -->
    <!-- 단, 컬럼명이나 테이블명에는 #{}이 아닌 ${]를 사용-->
    <select id="selectFindBoard" statementType="PREPARED" parameterType="map" resultType="honeybee.spring4mvc.semiprojectv4.model.Board">
        select bno,title,userid,regdate,thumbs,views from board1
        <if test="ftype != 'titcont'">where ${ftype} like concat('%',#{fkey},'%')</if>
        <if test="ftype == 'titcont'">where title like concat('%',#{fkey},'%') or content like concat('%',#{fkey},'%') or userid like concat('%',#{fkey},'%')</if>
        order by bno desc limit #{stbno},25
    </select>

    <select id="countFindBoard" statementType="PREPARED" parameterType="map" resultType="int">
        select ceil(count(bno)/25) cnt from board1
        <if test="ftype != 'titcont'">where ${ftype} like concat('%',#{fkey},'%')</if>
        <if test="ftype == 'titcont'">where title like concat('%',#{fkey},'%') or content like concat('%',#{fkey},'%') or userid like concat('%',#{fkey},'%')</if>
    </select>

    <insert id="insertsql" statementType="PREPARED" parameterType="honeybee.spring4mvc.semiprojectv4.model.Board">
        insert into board1(title,userid,content) values (#{title},#{userid},#{content})
    </insert>
</mapper>

